# --- Django ---
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Lima

# --- Database (PostgreSQL) ---
POSTGRES_DB=cert_db
POSTGRES_USER=cert_user
POSTGRES_PASSWORD=cert_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- JWT ---
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

# --- CORS ---
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000

# --- Email (production) ---
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# --- Security (production) ---
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
